.topnav {
    background-color: #000;
    overflow: hidden;
    width: 100%;
}

.topnav a {
    float: left;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 0px 10px;
}

.topnav a:hover {
    background-color: brown;
}

.right {
    float: right;
}